@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  background-color: #232323 !important;
  color: white;
  font-family: 'Abril Fatface', cursive;
}

ul{
  color: white
}

.form_signin, .form_signup, .create_place{
  color: white;
}

p{
  font-family: 'Inter', sans-serif;
}

::placeholder{
  padding-left: 10px;
  color: #848383;
}

/************* WELCOME *****************/ 
.welcome-title, h2{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 2.5rem;
}

.welcome-text{
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 0.9rem;
}

.search-bar{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 33px;
  width: 30%;
  color: white;
  margin-top: 40px;
}

.form-inline .search-bar {
  margin-right: -5em;
}

.search-button {
  background-color: transparent;
  cursor: pointer;
  margin-top: 40px;
}

.search-button:hover{
  color: white;
}

/************* LOGIN *****************/ 
.top-title-login{
  margin-top: 80px;
  margin-bottom: 70px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
}

.label-input-container {
  display: flex;
  flex-direction: row; /* Organise les éléments horizontalement */
  align-items: center; /* Centre verticalement les éléments */
  margin-bottom: 10px; /* Espacement entre les paires */
}

.custom-label{
  text-align: right; /* Aligner le texte du label à droite */
  margin-right: 60px; /* Espacement entre le label et l'input */
  font-family: 'Abril Fatface', cursive;
  font-size: 2.3em;
}

.custom-input{
  flex: 2; /* L'input prend plus d'espace que le label */
  padding: 5px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: transparent;
  width: 100%;
  color: white;
}

.button-login {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 20vh; /* Hauteur de la vue à 100% pour centrer verticalement dans tout l'écran */
}

.button-login button {
  color: white;
  border: 1px solid white;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  text-align: center; /* Centre le texte horizontalement */
  font-size: 0.7em;
  display: flex;
  flex-direction: column; /* Pour centrer le texte verticalement */
  justify-content: center; /* Pour centrer le texte verticalement */
}

.button-login button:hover{
  background-color: white;
  color: #232323;
  border: none;
}

.nav-link {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: none;
  color: #b0b0b0 !important;
}

.link-register p {
    margin-top: 10px;
    font-size: 0.8em;
}

/************* REGISTER *****************/ 
.button-register button {
  color: white;
  border: 1px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  text-align: center; /* Centre le texte horizontalement */
  font-size: 0.7em;
  display: flex;
  flex-direction: column; /* Pour centrer le texte verticalement */
  justify-content: center; 
  padding-left: 20px;
  margin-top: 30px;
}

.button-register button:hover{
  background-color: white;
  color: #232323;
  border: none;
}

/************* CATEGORIES *****************/ 
.card{
  width: 300px !important;
  height: 300px !important;
  border: none !important;
  margin-bottom: 10px; /* Réduit l'espace vertical entre les cartes */
  margin-left: 4rem;
}

.col{
  padding-top: 60px;
}

.card-icon {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 1; /* Pour placer l'icône au-dessus de l'image */
  width: 50px !important; /* Ajustez la largeur selon vos besoins */
  height: 50px !important; /* Ajustez la hauteur selon vos besoins */
  }
  
.custom-image {
  width: 300px !important; /* Largeur souhaitée */
  height: 300px !important; /* Hauteur souhaitée */
  object-fit: cover !important; /* Redimensionnement de l'image tout en maintenant son rapport d'aspect */
  }

  .btn-custom {
    margin-top: 15px;
    color: white !important; 
    background-color: transparent !important; 
    border: 1px solid white !important; 
    transition: background-color 0.3s ease !important;
    font-family: 'Inter', sans-serif;
  }
  
  .btn-custom:hover {
    background-color: #A479FF !important; 
    color: #232323 !important;
  }

  .btn-custom-2 {
    margin-top: 15px;
    color: white !important; 
    background-color: transparent !important; 
    border: 1px solid white !important; 
    transition: background-color 0.3s ease !important;
    font-family: 'Inter', sans-serif;
  }
  
  .btn-custom-2:hover {
    background-color: #FF95BB !important; 
    color: #232323 !important;
  }

  .btn-custom-3 {
    margin-top: 15px;
    color: white !important; 
    background-color: transparent !important; 
    border: 1px solid white !important; 
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif;
  }
  
  .btn-custom-3:hover {
    background-color: #EA4231 !important; 
    color: #232323 !important;
  }

  .btn-custom-4 {
    margin-top: 15px;
    color: white !important; 
    background-color: transparent !important; 
    border: 1px solid white !important; 
    transition: background-color 0.3s ease !important;
    font-family: 'Inter', sans-serif;
  }
  
  .btn-custom-4:hover {
    background-color: #EFCE6E !important; 
    color: #232323 !important;
  }
  
  .btn-custom-5 {
    margin-top: 15px;
    color: white !important; 
    background-color: transparent !important; 
    border: 1px solid white !important; 
    transition: background-color 0.3s ease !important;
    font-family: 'Inter', sans-serif;
  }
  
  .btn-custom-5:hover {
    background-color: #14FF8E !important; 
    color: #232323 !important;
  }

  .return{
    color: white;
    text-decoration: none;
    font-weight: lighter;
  }

/************* TOP 5 *****************/ 
.top-title, h3{
  color: white !important;
  font-family: 'Abril Fatface', cursive !important;
  margin-top: 80px;
}

.card-top{
  margin-top: 200px;
  border-radius: 8px;
}

.card-title{
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

.card-text{
  text-align: justify;
  padding-top: 1rem;
  font-size: 0.8em;
  font-weight: light;
}

.custom-body-1{
  background-color: #A479FF;
}

.custom-body-2{
  background-color: #EFCE6E;
}

.custom-body-3{
  background-color: #FF95BB;
}

.custom-body-4{
  background-color: #EA4231;
}

.custom-body-5{
  background-color: #14FF8E;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/************* Your love's letter *****************/ 

.top-title, h3{
  color: white !important;
  font-family: 'Abril Fatface', cursive !important;
  margin-top: 80px;
}

.card-firstname {
  font-size: 0.8em;
  font-weight:bold;
  text-align: right;
}

.card-loveletter {
  text-align: justify;
  padding: 15px;
}

/************* Tell us *****************/

.text-tellus {
  color: white !important;
  font-family: inherit;
  font-size: 0.9em;
}

.small-interline {
  margin-top: 2px;
  margin-bottom: 2px;
}

.circle-btn {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none; /* Supprime la bordure de mise au point par défaut */
  text-align: center;
  text-decoration: none;
}

.circle-btn:hover {
  background-color: white;
  color: #232323;
  text-decoration: none;
  transition: background-color 0.3s ease !important;
}

.text-circle-btn {
  color: white;
  font-family: inherit;
}

.input-tellus {
  width: 600px !important; 
  background-color: transparent !important;
  border: 1px solid white !important;
  color: white !important;
}

.input-tellus-first_name {
  width: 383px !important; 
  background-color: transparent !important;
  border: 1px solid white !important;
  color: white !important;
}

.input-tellus-age {
  background-color: transparent !important;
  border: 1px solid white !important;
  color: white !important;
}

/************* Navbar *****************/

.navbar {
  background-color: #232323;
  color: white !important;
  font-family: inherit;
  text-decoration: none;
}

a{
  color: white !important;
}

.whitebtn {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-align: center;
  text-decoration: none;
}

.whitebtn:hover {
  background-color: #ffffff;
  color: #232323 !important;
  text-decoration: none;
  transition: background-color 0.3s ease !important;
}


.navbar-nav {
  display: flex !important;
  align-items: center !important;
}

/************* Pages catégories *****************/

.free-title, .unusual-title, .big_game-title, .kiss-title {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 2.5rem;
}



.text-free, .text-unusual, .text-big_game, .text-kiss {
  color: white !important;
  font-family: inherit;
  font-size: 0.9em;
}
