.map-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
}
  
.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.center-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Réglez la hauteur pour que la carte occupe la moitié de la hauteur de la fenêtre */
    max-width: 800px;
    margin: 0 auto;
}
  